
.ir-container{
  flex-wrap: wrap;
}

.card{
  height: 100px;
  width: calc(100% / 4 - 30px);
  justify-content: center;
  align-items: center;
  margin: 15px; 
  color: white;
  
}

.animal{
  background-color: orange;
}

.vegetable{
  background-color: green;
}

.user{
  background-color: blue;
}