
.ir-container{
  flex-wrap: wrap;
}

.card{
  height: 200px;
  width: calc(100% / 4 - 30px);
  justify-content: center;
  align-items: center;
  margin: 15px;
  text-align: center; 
}

.animal {
  color: orange;
}

.vegetable {
  color: green;
}

.user {
  color: blue;
}

.card i{
  font-size: 2rem;
}

.card p{
  margin-top: 20px;
  font-size:1.5rem;
}